body
{
    background-color: orange;
}
#navigatie {
    background-color: crimson;
    list-style-type: none;
    list-style-position: inside;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    border: 5px 5px 5px 5px;
    border-radius: 10px 10px 10px 10px;
    height: 20px;
    
}
li {
    color: white;
    width: 20%;
    float: left;
}

#navigatie a:link{
    color: white;
}
#navigatie a:visited{
    color: white;
}
ul{
    
}

